
<mat-drawer-container class="example-container">
  <mat-drawer mode="side" opened style="width: calc(20%);">
    <div class="app-toolbar">
      <mat-toolbar>

        <mat-toolbar-row color="primary">
          <span class="example-spacer"></span>
          <span class="title-spacing">Park Runner</span>
          <span class="example-spacer"></span>
        </mat-toolbar-row>
      </mat-toolbar>
    </div>
  </mat-drawer>
  <mat-drawer-content>
    Search Results
  </mat-drawer-content>
</mat-drawer-container>

