<ng-container *ngIf="menu | async as menuItems">

  <div *ngFor="let menuSectionItem of menuItems.data.items">
    <br />
    <ng-container *ngIf="menuSectionItem.items == undefined">
      <mat-list>
        <mat-list-item matRipple [routerLink]="['']">{{menuSectionItem.label}}</mat-list-item>
      </mat-list>
    </ng-container>
    <ng-container *ngIf="menuSectionItem.items != undefined">
      <mat-accordion>
        <mat-expansion-panel>
          <mat-expansion-panel-header>
            <mat-panel-title>
              {{menuSectionItem.label}}
            </mat-panel-title>
          </mat-expansion-panel-header>
          <mat-list *ngFor="let item of menuSectionItem.items">
            <mat-list-item matRipple [routerLink]="['']">{{item.label}}</mat-list-item>
            <mat-divider></mat-divider>
          </mat-list>
        </mat-expansion-panel>
      </mat-accordion>
    </ng-container>
  </div>
  <div>

  </div>
</ng-container>
